
@import "src/assets/sass/light-bootstrap-dashboard-all.scss";

.form-check {
  padding-left: 0rem;
}
label{
  font-weight: 400 !important;
}

@import "src/assets/sass/light-bootstrap-dashboard-all.scss";

.form-check {
  padding-left: 0rem;
}
label{
  font-weight: 400 !important;
}
//=========================================
.legend{
  width: 100%;
}
