<div class="card">
  <div class="header">

    <h4 class="title"><span class="now-ui-icons education_hat"></span> Ingénieurs</h4>
    <br>
    <p class="category">Gestions d'inscription des Ingénieurs</p>
    <button *ngIf="mode == 'list'" rel="tooltip" title="Ajouter un doctorant"
      class="btn btn-info btn-fill now-ui-icons ui-1_simple-add" (click)="onNewDoctorant()"></button>

  </div>
  <div class="content">
    <div *ngIf="mode=='new-doctorant'" class="container ">
      <div class="row">
        <div class="col-md-12 card">
          <div class="header">
            <h4 class="title">Ajouter un Ingénieurs</h4>
          </div>
          <div class="content">
            <form #f="ngForm" (ngSubmit)="onSaveDoctorant(f.value)">
              <div class="row">
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Nom </label>
                    <input type="text" name="firstname" ngModel class="form-control" placeholder="Nom" value="">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Prénom </label>
                    <input type="text" name="lastname" ngModel class="form-control" placeholder="Prénom" value="">
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label>Date de naissance </label>
                    <input type="date" name="birthdDay" ngModel class="form-control" placeholder="Date de naissance" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Etablissement </label>
                    <input type="text" name="etablissement" ngModel class="form-control" placeholder="Etablissement" value="">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Grade </label>
                    <input type="text" name="grade" ngModel class="form-control" placeholder="Grade" value="">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Spécialité</label>
                    <input type="text" name="specialite" ngModel class="form-control" placeholder="Spécialité" value="">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Théme de recherche</label>
                    <input type="text" name="themeDeRecherche" ngModel class="form-control" placeholder="Théme de recherche" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Email </label>
                    <input type="text" name="email" ngModel class="form-control" placeholder="Email" value="">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tel </label>
                    <input type="text" name="tel" ngModel class="form-control" placeholder="Téléphone" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mot de passe </label>
                    <input type="text" name="password" ngModel class="form-control" placeholder="mot de passe" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <label class="form-check-label" for="exampleCheck1">
                      <input name="activated" ngModel name="active" ngModel type="checkbox" class="form-check-input"
                        id="exampleCheck1">
                      <span class="form-check-sign"></span> Activé</label>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <button type="reset" (click)="onCancel()"
                    class="btn btn-secondary btn-fill float-right">Annuler</button>
                  <button type="submit" class="btn btn-info btn-fill float-right">Ajouter</button>

                </div>
              </div>
              <div class="clearfix"></div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mode=='edit-doctorant'" class="container ">
      <div class="row">
        <div class="col-md-12 card">
          <div class="header">
            <h4 class="title">Modification</h4>
          </div>
          <div class="content">
            <form #f="ngForm" (ngSubmit)="onSaveDoctorant(f.value)">
              <div class="row">
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Nom </label>
                    <input type="text" name="firstname" ngModel class="form-control" placeholder="Nom" ngModel="{{editdoctorant.firstname}}">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Prénom </label>
                    <input type="text" name="lastname" ngModel class="form-control" placeholder="Prénom" ngModel="{{editdoctorant.lastname}}">
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label>Date de naissance </label>
                    <input type="date" name="birthdDay" ngModel class="form-control" placeholder="Date de naissance" ngModel="{{editdoctorant.birthdDay| date:'yyyy-MM-dd'}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Etablissement </label>
                    <input type="text" name="etablissement" ngModel class="form-control" placeholder="Etablissement" ngModel="{{editdoctorant.etablissement}}">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Grade </label>
                    <input type="text" name="grade" ngModel class="form-control" placeholder="Grade" ngModel="{{editdoctorant.grade}}">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Spécialité</label>
                    <input type="text" name="specialite" ngModel class="form-control" placeholder="Spécialité" ngModel="{{editdoctorant.specialite}}">
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="form-group">
                    <label>Théme de recherche</label>
                    <input type="text" name="themeDeRecherche" ngModel class="form-control" placeholder="Théme de recherche" ngModel="{{editdoctorant.themeDeRecherche}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Email </label>
                    <input type="text" name="email" ngModel class="form-control" placeholder="Email" ngModel="{{editdoctorant.email}}">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Tel </label>
                    <input type="text" name="tel" ngModel class="form-control" placeholder="Téléphone" ngModel="{{editdoctorant.tel}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <label class="form-check-label" for="exampleCheck1">
                      <input name="activated" ngModel name="active" type="checkbox" class="form-check-input" ngModel="{{editdoctorant.activated}}"
                        id="exampleCheck1">
                      <span class="form-check-sign"></span> Activé</label>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <button type="reset" (click)="onCancel()"
                    class="btn btn-secondary btn-fill float-right">Annuler</button>
                  <button type="submit" class="btn btn-info btn-fill float-right">Modifier</button>

                </div>
              </div>
              <div class="clearfix"></div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="mode == 'list'" class="content">
      <div class="ct-chart">
        <div class="table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="text-center"> </th>
                <th class="text-center"> Nom</th>
                <th class="text-center"> Prénom</th>
                <th class="text-center"> Email</th>
                <th class="text-center"> Activé</th>
                <th class="text-center"> Modifier</th>
                <th class="text-center"> Envoyer</th>
              </tr>
            </thead>
            <tbody>
              <tr class="button" *ngFor=" let d of pageOfItems">
                <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="now-ui-icons education_hat"></i>
                </td>
                <td class="text-center">{{d.firstname}}</td>
                <td class="text-center">{{d.lastname}}</td>
                <td class="text-center">{{d.email}}</td>
                <td class="text-center"><button type="button" rel="tooltip" title="Activé"
                    class="btn btn-success btn-simple btn-xs">
                    <i
                      [class]=" d.activated== true ? 'now-ui-icons ui-1_check' : 'now-ui-icons ui-1_simple-remove'"></i>
                  </button>
                </td>
                <td class="text-center">

                  <button  type="button" rel="tooltip" title="Modifier" class="btn btn-info btn-simple btn-xs" (click)="onEdit(d)">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                  </button>
                </td>

                <td class="text-center">
                  <button type="button" rel="tooltip" title="Envoyer un e-mail" class="btn btn-info btn-simple btn-xs">
                    <i class="now-ui-icons ui-1_email-85"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <div *ngIf="mode == 'list'" class="legend text-center" >
        <div class="pagination pagination-primary text-center">
          <jw-pagination  [items]="doctorants" [pageSize]="3" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
        <br>
      </div>
      <hr *ngIf="true">
      <div class="stats">
        <i [ngClass]="'fa fa-clock-o'"></i> DoctoGest © 2020 </div>
    </div>
  </div>
</div>
