.category-absolute {
  position: absolute;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color:
rgba(255, 255, 255, 0.5);
}

h3, .h3 {
  font-size: 2.2em;
  margin-bottom: 0px;
  line-height: 1.4em;
}
h4, .h4 {
  font-size: 1.5em;
  line-height: 1.45em;
  margin-top: 10px;
  margin-bottom: 15px;
}
